body
{
    background-image: url("background.jpg");
}

div
{
    font-family: "Courier", monospace;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#playButton
{
    position: absolute;
    background-color: black;
    top: 330px;
    left: 25px;
    /*transform: translate(-50%, -50%);*/
    /*z-index: 10;*/
    /*width: 20px;*/
    /*height: 20px;*/
}
#playButtonAquarium {
    position: absolute;
    background-color: black;
    top: 610px; /* Hier wird der zweite Button unterhalb des ersten Videos positioniert */
    left: 25px;
    /* Weitere Stile hier */
}
